---
layout: default
---

<h3>{{ page.title }}</h3>
<ol>
{% for location in page.trip %}
  {% assign found = false %}
  {% for known in site.data.locations %}
    {% if location == known.place %}
    {% assign found = true %}
    <li> {{location}} = [ {{ known.coordinates.lat }}, {{ known.coordinates.lon }} ] </li>
    {% endif %}
  {% endfor %}
  {% unless found %}
    <li> {{location}} = UNKNOWN </li>
  {% endunless %}
{% endfor %}
</ol>

<hr />
<pre>
{
  "type": "LineString",
  "coordinates": [
{% for location in page.trip %}{% assign islast = forloop.last %}{% for known in site.data.locations %}{% if location == known.place %}    [ {{ known.coordinates.lon }}, {{ known.coordinates.lat }} ]{% unless islast %},{% endunless %}
{% endif %}{% endfor %}{% endfor %}
  ]
}
</pre>


